.navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	background: #000000;
	text-align: center;
	border-radius: 0;
}

#app {
	font-size: 14px;
	background-image: url("../images/texture-light.jpg");
}

.bs-divider {
	margin: 20px 0;
	border: 0;
	display: table;
	white-space: nowrap;
	font-size: 2em;
	font-family: "Tungsten A", sans-serif;
	color: #20900b;
}

.logo {
	position: absolute;
	z-index: 500;
	top: 15px;
	left: 20px;
	display: block;
	width: 115px;
	height: 83px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.navbar-inverse {
	background-color: #000000;
	border-color: #000000;
}

.navbar-brand {
	font-family: "Tungsten A", sans-serif;
	font-weight: 500;
	font-style: normal;
	color: #707172;
	text-decoration: none;
	text-transform: uppercase;
}

.card > .card-content > a.card-header, .cards > .card > .card-content > a.card-header {
	color: rgba(0,0,0,0.85);
	font-size: 16px;
	font-family: "Vitesse", sans-serif;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:hover:active, .btn-primary:focus, .btn-primary.active {
	background-color: #20900b;
}

.btn-primary {
	background-color: #5cbc4a;
	font-family: "Vitesse", sans-serif;
}

@font-face {
	font-family: "Tungsten A";
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/Tungsten-Medium.otf") format("opentype");
}

@font-face {
	font-family: "Vitesse";
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/Vitesse-Medium.otf") format("opentype");
}