<!doctype html>
<head>
    <title>3D Model Resizer</title>
    <style>
        #watermark {
            background-image: url("images/dewloader.png");
            background-repeat: repeat-y;
            animation: animate_background 6s linear 0s infinite;
        }
    @keyframes animate_background {
        from {
            background-position: 0 0;
        }
        to {
            background-position: 0 -550px;
        } 
    }
    </style>
</head>
<body>
	<link rel="stylesheet" href="styles/bootstrap.css">
	<link rel="stylesheet" href="styles/smt-bootstrap.css">
	<link rel="stylesheet" href="styles/custom-theme.css">
        <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
            <link rel="stylesheet" href="http://www.w3schools.com/lib/w3-theme-teal.css">
                <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">



    <!-- Header -->


	<script src="scripts/jquery-3.1.0.js"></script>
	<script src="scripts/bootstrap.min.js"></script>
	<script src="scripts/vue.js"></script>
	<script src="scripts/vue-resource.min.js"></script>
	<iframe id="download_frame" style="display:none;"></iframe>
    
    <script src="scripts/three.js"></script>
    
    <script src="js/renderers/Projector.js"></script>
    <script src="js/renderers/CanvasRenderer.js"></script>
    
    <script src="js/libs/stats.min.js"></script>
    
    <script src="scripts/three.js"></script>
    <script src="js/loaders/OBJLoader.js"></script>
    
    <div id="app">
    <div id="watermark">
	<nav class="navbar">
		<div class="container">
			<div class="navbar-header navbar-inverse">
				<a data-push="true" class="logo" href="/">
            		<img alt="Mountain Dew Logo" src="../images/dew-logo.svg">
        		</a>
				<a class="navbar-brand" href="#">3D Model Resizer</a>
			</div>
		</div>
	</nav>
    
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="bs-component">
                    <div class="card">
                        <div class="card-image">
                            <img src="images/sword.jpg">
                                </div>
                        <div class="card-content" id="sword">
                            <a class="card-header">Medieval Sword</a>
                            <div class="card-meta">Submitted on August 21</div>
                            <div class="card-description">A sharp sword to cut things with. Ooo pointy.</div>
                        </div>
                        <div class="card-content" id="sword-params" style="display:none;">
                            <label for="length">Length:</label>
                            <input type="number" v-model="swordLength" required></input>
                        </div>
                        <div class="card-extra card-content" style="text-align:center">
                            <a><button class="btn btn-primary" id="sword-customize" v-on:click="customizeSword">Customize</button></a>
                            <a><button class="btn btn-primary" id="sword-download" style="display:none;" v-on:click="requestSword">Download Now!</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="bs-component">
                    <div class="card">
                        <div class="card-image">
                            <img src="images/guard.png">
                                </div>
                        <div class="card-content" id="guard">
                            <a class="card-header">Wrist Guard</a>
                            <div class="card-meta">Submitted on August 21</div>
                            <div class="card-description">Guarding your life since 2020.</div>
                        </div>
                        <div class="card-content" id="guard-params" style="display:none;">
                            <label for="wrist">Wrist Radius:</label>
                            <input type="number" v-model="wristRadius" required></input>
                            <label for="forearm">Forearm Radius:</label>
                            <input type="number" v-model="forearmRadius" required></input>
                        </div>
                        <div class="card-extra card-content" style="text-align:center">
                            <a><button class="btn btn-primary" id="guard-customize" v-on:click="customizeGuard">Customize</button></a>
                            <a><button class="btn btn-primary" id="guard-download" style="display:none;" v-on:click="requestGuard">Download Now!</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="bs-component">
                    <div class="card">
                        <div class="card-image">
                            <img src="images/man.png">
                                </div>
                        <div class="card-content" id="sword2">
                            <a class="card-header">Business Man</a>
                            <div class="card-meta">Submitted on August 21</div>
                            <div class="card-description">Customize the business man in you with this 3D model of the most profound salesman in the world.</div>
                        </div>
                        <div class="card-content" id="sword2-params" style="display:none;">
                            <label for="length">Length:</label>
                            <input type="number" required></input>
                        </div>
                        <div class="card-extra card-content" style="text-align:center">
                            <a><button class="btn btn-primary" id="sword2-customize" v-on:click="customizeSword2">Customize</button></a>
                            <a><button class="btn btn-primary" id="sword2-download" style="display:none;" v-on:click="requestSword">Download Now!</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

		<div class="bs-divider">Cool Creations</div>


        <div class="bs-component">
            <div class="card">
                
                <div class="w3-content" style="max-width:800px;position:relative">
            
                    <img class="mySlides w3-animate-opacity" src="images/prop1.jpg" style="width: 100%; display: block;">
                        <img class="mySlides w3-animate-opacity" src="images/prop2.jpg" style="width: 100%; display: none;">
                            <img class="mySlides w3-animate-opacity" src="images/prop3.jpg" style="width: 100%; display: none;">
                                <img class="mySlides w3-animate-opacity" src="images/prop4.jpg" style="width: 100%; display: none;">
                            
                <a class="w3-btn-floating w3-hover-dark-grey" style="position:absolute;top:47%;left:-50px;" onclick="plusDivs(-1)"><</a>
                <a class="w3-btn-floating w3-hover-dark-grey" style="position:absolute;top:47%;right:-50px;" onclick="plusDivs(+1)">></a>
                    </div>
            </div>
        </div>
        
    </div>
    </div>
    </div>

    <script src="scripts/app.js"></script>
    

    <!-- 3D STUFF!!! -->
    <script>
    // Slideshows
    var slideIndex = 3;
    
    function plusDivs(n) {
        slideIndex = slideIndex + n;
        showDivs(slideIndex);
    }
    
    function showDivs(n) {
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) {slideIndex = 1}
        if (n < 1) {slideIndex = x.length} ;
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex-1].style.display = "block";
    }
    
    showDivs(3);

    </script>

</body>

